# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/

# Ruby
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

# Environment normalization
/.bundle/
/vendor/bundle
/lib/bundler/man/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Log files
*.log