<!-- Footer -->
<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4">
        <h5><i class="fas fa-dna me-2"></i><i class="fas fa-cloud"></i> CLIMB</h5>
        <p>Cloud Infrastructure for Microbial Bioinformatics</p>
        <div class="d-flex gap-3 mt-4">
          <a href="#" class="text-white"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin fa-lg"></i></a>
          <a href="#" class="text-white"><i class="fab fa-github fa-lg"></i></a>
          <a href="#" class="text-white"><i class="fab fa-slack fa-lg"></i></a>
        </div>
      </div>
      <div class="col-md-4 col-lg-2">
        <h5>Navigation</h5>
        <ul class="list-unstyled">
          <li><a href="{{ site.baseurl }}/" class="text-white">Home</a></li>
          <li><a href="{{ site.baseurl }}/services.html" class="text-white">Services</a></li>
          <li><a href="{{ site.baseurl }}/pricing.html" class="text-white">Pricing</a></li>
          <li><a href="{{ site.baseurl }}/support.html" class="text-white">Support</a></li>
          <li><a href="{{ site.baseurl }}/about.html" class="text-white">About</a></li>
          <li><a href="{{ site.baseurl }}/contacts.html" class="text-white">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-2">
        <h5>Resources</h5>
        <ul class="list-unstyled">
          <li><a href="{{ site.baseurl }}/support.html#documentation" class="text-white">Documentation</a></li>
          <li><a href="{{ site.baseurl }}/support.html#faqs" class="text-white">FAQs</a></li>
          <li><a href="https://github.com/climb-high" class="text-white" target="_blank">GitHub</a></li>
          <li><a href="{{ site.baseurl }}/support.html#training" class="text-white">Training</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-4">
        <h5>Join Our Community</h5>
        <p>Subscribe to our newsletter for the latest updates.</p>
        <div class="input-group">
          <input type="email" class="form-control" placeholder="Your email">
          <button class="btn btn-primary">Subscribe</button>
        </div>
      </div>
    </div>
    <hr class="mt-4">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-md-0">© {{ site.time | date: '%Y' }} CLIMB-BIG-DATA. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="#" class="text-white me-3">Privacy Policy</a>
        <a href="#" class="text-white">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>